<h1 style="text-align: center;" mat-dialog-title>Seja bem-vindo!</h1>
<div mat-dialog-content class="mat-typography">
    <div class="sign-up">
        <div class="user">
            <p>Para fazer suas compras,<br>
            faça sua conta como cliente!</p>
            <div class="option-btn">
                <button mat-raised-button color="warn">Conta Cliente</button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="store">
            <p>Deseja vender seus produtos?<br>
            Então crie sua conta loja agora!</p>
            <div class="option-btn">
                <button mat-raised-button>Conta Loja</button>
            </div>
        </div>
    </div>
    <div mat-dialog-close>
        <button mat-button>Fechar</button>
    </div>
</div>